body {
  background-color: #ddd;
  display: flex;
  height: 100%;
  padding: 0;
  margin:  0;
}

div.space {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div#space1 {
  flex-basis: 70%;
}

div#space2 {
  flex-basis: 30%;
}

div.window {
  width: 90%;
  height: 40vw;
  border: 1px solid black;
  font-size: 0.6vw;
}

div.window > h1 {
  background-color: #ccc;
  padding: 0;
  margin:  0;
  text-align: center;
  font-size: 2vw;
}

div.window > .tab > h1 {
  background-color: #444;
  height: 3vw;
  color: white;
  line-height: 3vw;
  padding-left: 0.5vw;
}

div.window > .tab > .cols {
  display: flex;
}

div.window > .tab > .cols > .col {
  flex: 1;
  margin: 1vw;
}

div.window > .tab > .cols > .col .follow {
  font-size: 2vw;
}

div.window > .tab > .cols > .col.follow .select {
  display: none;
}
div.window > .tab > .cols > .col .select {
  overflow-y: scroll;
  height: 25vw;
}

div.locale-list > header {
  background-color: #444;
  display: flex;
  height: 3vw;
}

div.locale-list > header > h1 {
  color: white;
  font-weight: normal;
  flex-grow: 2;
  padding-left: 0.5vw;
}

div.locale-list > header > input {
  border: none;
  height: 3vw;
  line-height: 2vw;
  width: 40%;
  height: 2vw;
  margin-top: 0.5vw;
  display: none;
}

div.locale-list.long > header > input {
  display: inline;
}

div.locale-list > ul {
  font-size: 1.3vw;
  padding: 0;
  margin: 0;
  min-height: 2vw;
}

div.locale-list > ul > li {
  list-style: none outside none;
  background-color: #bbb;
  border: 1px solid #777;
  display: flex;
  height: 2.5vw;
  padding-right: 0.5vw;
  cursor: pointer;
}

div.locale-list > ul > li.hidden {
  display: none;
}

div.locale-list > ul > li > div {
  background-color: #999;
  width: 2vw;
  cursor: pointer;
  color: #666;
  text-align: center;
}

div.locale-list > ul > li > span {
  padding-left: 1vw;
  line-height: 2.5vw;
}

div.locale-list > ul > li > span.name {
  width: 80%;
}
